openapi: 3.0.1
info:
  title: SOG Seller API
  description: Basic API for Sellers to access orders and products in Source of Goods
  contact:
    email: mpannella@sourceofgoods.com
  version: 1.0.0-oas3
servers:
  - url: 'https://www.sourceofgoods.com/api2'
  - url: 'https://virtserver.swaggerhub.com/Source-Of-Goods/sog/1.0.0'
tags:
  - name: orders
    description: Secured Seller-only calls
  - name: products
    description: Secured Seller-only calls
paths:
  /products/{sku}:
    get:
      tags:
        - products
      summary: Get info for one product
      description: Retrieve info about the given product sku
      operationId: productGet
      parameters:
      - name: sku
        in: path
        description: SKU of product to return
        required: true
        schema:
          type: string
      responses:
        '200':
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '400':
          description: bad input parameter
          content: {}
  /products:
    get:
      tags:
        - products
      summary: Get products
      description: |
        Retrieve list of all products, Default limit of 5000 records per call
      operationId: productsGet
      parameters:
        - name: limit
          in: query
          description: limit number of results
          schema:
            type: integer
        - name: cursor
          in: query
          description: pointer used for pagination
          schema:
            type: integer
      responses:
        '200':
          description: search results matching criteria
          content:
            application/json:
              schema:
                type: object
                properties:
                  cursor:
                    type: integer
                    description: 'the pointer used for pagination'
                  products:
                    type: array
                    items:
                      $ref: '#/components/schemas/Product'
        '400':
          description: bad input parameter
          content: {}
  /orders/{orderId}:
    get:
      tags:
        - orders
      summary: Get one order
      description: Retrieve details for a single order
      operationId: orderGet
      parameters:
      - name: orderId
        in: path
        description: Order number of order to return
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          description: bad input parameter
          content: {}
    patch:
      tags:
        - orders
      summary: Update an order
      description: Update an existing order. All products in "orderItems" will be added to the order
      operationId: orderPatch
      parameters:
      - name: orderId
        in: path
        description: Order number of order to return
        required: true
        schema:
          type: integer
      requestBody:
        description: Order information
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderPatch'
      responses:
        '200':
          description: order updated
          content: {}
        '400':
          description: 'invalid input, object invalid'
          content: {}
  /orders:
    get:
      tags:
        - orders
      summary: Get orders
      description: |
        Get a list of orders, by default it only shows the current year. Default limit of 5000 records per call
      operationId: ordersGet
      parameters:
        - name: status
          in: query
          description: status of order
          schema:
            type: string
            enum:
              - "Order Placed"
              - "Order Received"
              - "Processing"
              - "Shipped"
              - "Delivered"
              - "Canceled"
              - "Order on Hold - Awaiting Seller Payment"
              - "Partially Canceled"
        - name: channel
          in: query
          description: order channel
          schema:
            type: string
        - name: fromDate
          in: query
          description: starting datetime ISO-8601
          schema:
            type: string
            format: date-time
        - name: toDate
          in: query
          description: ending datetime ISO-8601
          schema:
            type: string
            format: date-time
        - name: limit
          in: query
          description: limit number of results
          schema:
            type: integer
        - name: cursor
          in: query
          description: pointer used for pagination
          schema:
            type: integer
      responses:
        '200':
          description: search results matching criteria
          content:
            application/json:
              schema:
                type: object
                properties:
                  cursor:
                    type: integer
                    description: 'the pointer used for pagination'
                  orders:
                    type: array
                    items:
                      $ref: '#/components/schemas/Order'
        '400':
          description: bad input parameter
          content: {}
    post:
      tags:
        - orders
      summary: creates new orders
      description: Add a new order into the system
      operationId: orderPost
      requestBody:
        description: Order information and items
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Order'
      responses:
        '201':
          description: order created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          description: 'invalid input, object invalid'
          content: {}
components:
  securitySchemes:
      basicAuth:
        type: http
        scheme: basic
  schemas:
    Address:
      type: object
      required:
        - name
        - address1
        - city
        - state
        - country
        - zip
      properties:
        name:
          type: string
        address1:
          type: string
        address2:
          type: string
        city:
          type: string
        state:
          type: string
        country:
          type: string
        zip:
          type: string
          minLength: 4
          maxLength: 10
    Product:
      type: object
      properties:
        sku:
          type: string
        name:
          type: string
        mpn:
          type: string
        upc:
          type: string
        asin:
          type: string
        description:
          type: string
        leadTime:
          type: integer
        leadTimeBusDays:
          type: integer
        size:
          type: string
        color:
          type: string
        cost:
          type: number
          format: float
        ship48:
          type: number
          format: float
        mapPrice:
          type: number
          format: float
        quantityAvailable:
          type: integer
          readOnly: true
        weight:
          type: number
          description: in lbs
          format: float
        shipWeight:
          type: number
          description: in lbs
          format: float
    OrderItem:
      required:
        - quantity
        - sku
      type: object
      properties:
        sku:
          type: string
        quantity:
          type: integer
          minimum: 1
        price:
          type: number
          format: float
          readOnly: true
        shippingPrice:
          type: number
          format: float
          readOnly: true
        tracking:
          type: string
          readOnly: true
    Order:
      required:
        - channel
        - channelOrderId
        - email
        - orderItems
        - phone
        - shipContact
      type: object
      properties:
        orderId:
          type: integer
          readOnly: true
        channel:
          type: string
          enum:
            - Amazon
            - Ebay
            - Custom Resource
        status:
          type: string
          enum:
            - "Order Placed"
            - "Order Received"
            - "Processing"
            - "Shipped"
            - "Delivered"
            - "Canceled"
            - "Order on Hold - Awaiting Seller Payment"
            - "Partially Canceled"
          readOnly: true
        channelOrderId:
          type: string
        orderDate:
          type: string
          format: date-time
        shipByDate:
          type: string
          format: date-time
        shipContact:
          $ref: '#/components/schemas/Address'
        billContact:
          $ref: '#/components/schemas/Address'
        phone:
          type: string
        email:
          type: string
          format: email
        tracking:
          type: string
          readOnly: true
        carrier:
          type: string
          readOnly: true
        total:
          type: number
          format: float
        sellerCostTotal:
          type: number
          format: float
        orderItems:
          type: array
          items:
            $ref: '#/components/schemas/OrderItem'
      description: an order
    OrderPatch:
      type: object
      properties:
        channel:
          type: string
          enum:
            - Amazon
            - Ebay
            - Custom Resource
        channelOrderId:
          type: string
        shipContact:
          $ref: '#/components/schemas/Address'
        billContact:
          $ref: '#/components/schemas/Address'
        orderItems:
          type: array
          items:
            $ref: '#/components/schemas/OrderItem'
      description: Order details that are patchable
security:
  - basicAuth: []